<div class="kk-sidenav-menu" shadow>
  <div class="kk-padding">
    <div class="kk-font-bold">DID開発UI</div>
  </div>
  <ul>
    <li>
      <a href="/">
        <span class="material-symbols-outlined">home</span>
        <span class="kk-margin-left-ss">トップ</span>
      </a>
    </li>
    <li>
      <a href="/issuer">
        <span class="material-symbols-outlined">badge</span>
        <span class="kk-margin-left-ss">VC発行</span>
      </a>
    </li>
    <li>
      <a href="/verifier">
        <span class="material-symbols-outlined">assured_workload</span>
        <span class="kk-margin-left-ss">VC検証</span>
      </a>
    </li>

    <li>
      <a href="/tools">
        <span class="material-symbols-outlined">construction</span>
        <span class="kk-margin-left-ss">ツール類</span>
      </a>
    </li>

    <li>
      <div class="kk-accordion">
        <span class="material-symbols-outlined">settings</span>
        <span class="kk-margin-left-ss">管理</span>
      </div>
      <ul>
        <li>
          <a href="/manage/issuer/">
            <span class="material-symbols-outlined">badge</span>
            <span class="kk-margin-left-ss">ISSUER</span>
          </a>
        </li>
        <li>
          <a href="/manage/verifier/">
            <span class="material-symbols-outlined">assured_workload</span>
            <span class="kk-margin-left-ss">VERIFIER</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>