<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('./partials/head', {title: 'VC発行'}); %>
</head>
<body>
<div class="kk-sidenav-container" theme="panel">
<%- include('./partials/menu', {}); %>

<%# コンテンツは下記divの中に記載 %>
<div class="kk-sidenav-main kk-padding-s">
  <div class="kk-container kk-padding-s" size-s left>
    <div class="didp-title kk-margin-right">VC発行</div>

    

  </div>
</div>

<script>
</script>

</body>
</html>