<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('./partials/head', {title: 'トップ'}); %>
</head>
<body>
<div class="kk-sidenav-container" theme="panel">
<%- include('./partials/menu', {}); %>

<%# コンテンツは下記divの中に記載 %>
<div class="kk-sidenav-main kk-padding-s">

</div>

<script>
</script>

</body>
</html>